<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="page-header">All Authors</h2>
   <form action="/author/all" method="GET">
        <div class="form-row">
            <div class="form-item">
                <label for="n">Name</label>
                <input type="text" name="name" value="<%= searchOptions.name %>" id="n">
            </div>
        </div>
       <div class="form-row form-row-end">
        <button class="btn btn-primary" type="Submit">Search</button>
       </div>
</form>
<br>
<% authors.forEach(author=>{ %>
    <div><%=author.name %> </div> 
    <div class="btn-row">
    <a class="btn btn-primary" href="/author/<%= author.id %> ">View</a>
    <a class="btn btn-primary" href="/author/<%= author.id %>/edit">Edit</a>
    <%- include('../partial/_deleteForm',{url:`/author/${author.id}`}) %> 
    </div>

 <% }) %>    
</body>
</html>