<h2 class="page-header"><%= author.name %> </h2>
<div class="btn-row">
    <a  class="btn btn-primary" href="/author/<%= author.id %>/edit ">Edit</a>
   <%- include('../partial/_deleteForm', {url: `/author/${author.id}`}) %>
</div>
<% if(bookByAuthor.length>0){ %>
    <h2>Books By Author</h2>
    <% bookByAuthor.forEach(book=>{ %> 
        <a href="/book/<%= book.id %> ">
       <img height="150" width="100" src="<%= book.coverImagePath %> "
    </a>
<% }) %> 
<% } %> 
