<h2 class="page-header"><%= book.title  %> </h2>

<div class="book-details">
    <div>
       <img class="book-cover" width="100" height="150" src="<%= book.coverImagePath  %> ">
       <div class="book-details-btn-grid">
          <a class="btn btn-primary book-details-edit-button" href="/book/<%= book.id %>/edit ">Edit</a>
          <%- include('../partial/_deleteForm',{url:`/book/${book.id}`}) %> 
          <a class="btn btn-primary book-details-author-button" href="/author/<%= book.author.id  %> ">View Author</a>
       </div>
    </div>

   <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
    <div><%= book.author.name %> </div>
    <div class="book-details-label">Publish Date:</div>
    <div><%= book.publishedDate.toDateString() %> </div>
    <div class="book-details-label">Page Count:</div>
    <div><%= book.pageCount %> </div>
    <div class="book-details-label">Description:</div>
    <div><%= book.description %> </div>
   </div>
    
</div>

